<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div class="container ">
        <div class="border border-primary p-2 mb-2 border-opacity-75">

    <div class="form-group">
      <label>SL NO:</label><br>
                    <input type="text" class="form-control" name="sl" value="{{task.slno}}"><br>
                </div>
                <div class="form-group">
                    <label>ITEM NAME:</label><br>
                    <input type="text" class="form-control" name="name" value="{{task.name}}" ><br>
                </div>
                <div class="form-group">
                    <label>DESCRIPTION:</label><br>
                    <input type="text" class="form-control" name="desc" value="{{task.desc}}" ><br>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>

</form>

</body>
</html>